**Data Science Tools and Ecosystem**

Some of the popular languages that data scientists use are: 1.Python 2.R 3.Julia 4.Java 5.Javascript 6.C++

In this notebook data science tools and Ecosystems are summarized.

**Objectives**
-Creating markdown cells and code cells
-adding headings to  markdown cells 
-adding comments to code cells
-creating ordered and unordered lists in markdown cell
-Some of the popular languages that data scientists use
-some of the commonly used libraries used by the data scientists
-List popular languages for data science
-few examples of evaluating arithmetic expressions in python

Some of the popular languages that data scientists use are:
1.Python
2.R
3.Julia
4.Java
5.Javascript
6.C++

Some of the commonly used libraries used by the Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

Data science tools
------------------
Python|
R|
Apache Spark|
Apache Hadoop|
Tableau|

### Below are a few examples of evaluating arithmetic expression in python

In [3]:
#This is a simple arithmetic expression to multiply then add integers
a=3
b=4
c=a*b
d=5
print(c+d)

17

In [4]:
#This will converts minutes to hours by dividing by 60
minutes=200
print(minutes/60)

3.3333333333333335

## Author
Mamatha Lekkala